/* --- GRID HOME --- */
.home-cripto-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* --- TARJETA --- */
.home-cripto-card {
    background: #1e1e1e;
    padding: 15px;
    border-radius: 14px;
    color: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.35);
    transition: 0.2s;
    text-align: center;
}

.home-cripto-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 15px rgba(0,0,0,0.5);
}

/* --- IMAGEN --- */
.home-cripto-img {
    width: 70px;
    height: 70px;
    object-fit: contain;
    margin-bottom: 10px;
}

/* --- NOMBRE --- */
.home-cripto-card h3 {
    margin: 5px 0;
    font-size: 18px;
}

.home-cripto-card span {
    font-size: 14px;
    opacity: 0.7;
}

/* --- PRECIO --- */
.price {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
}

/* --- CAMBIO PORCENTAJE --- */
.change {
    margin-top: 6px;
    font-size: 15px;
}

/* Responsive */
@media (max-width: 600px) {
    .home-cripto-grid {
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
}
