/* Buscador */
#buscador {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    outline: none;
}

/* Contenedor de tarjetas */
.cripto-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

/* Tarjeta */
.cripto-card {
    background: #1f1f1f;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
    color: white;
    transition: .2s;
}

.cripto-card:hover {
    transform: translateY(-4px);
    box-shadow: 0px 6px 15px rgba(0,0,0,0.6);
}

/* Títulos */
.cripto-card h3 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 19px;
}

/* Texto */
.cripto-card p {
    margin: 4px 0;
    font-size: 14px;
}
